{% extends 'base.html' %}
{% block content %}

<h2>Adicionar Medidor</h2>
<form method="POST">
  {% csrf_token %}
  Número de Série: <input type="text" name="numero_serie"><br>
  Localização: <input type="text" name="localizacao"><br>
  Data de Instalação: <input type="date" name="data_instalacao"><br>
  Usuário:
  <select name="usuario">
    {% for u in usuarios %}
      <option value="{{ u.id }}">{{ u.nome }}</option>
    {% endfor %}
  </select><br>
  <button type="submit">Salvar</button>
</form>
<a href="{% url 'lista_medidores' %}">Voltar</a>
{% endblock %}