{% extends 'base.html' %}
{% block content %}
  <h1 style="margin-bottom: 1.5rem;">Lista de Leituras</h1>

  <div class="card">
    <div class="card-header">
      <span>Medidores Cadastrados</span>
      <a href="{% url 'adicionar_leitura' %}" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Adicionar Leitura</a>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Consumo_kwh</th>
            <th>Medidor</th>
          </tr>
        </thead>
        <tbody>
          {% for l in leituras %}
            <tr>
              <td>{{ l.data }}</td>
              <td>{{ l.consumo_kwh }}</td>
              <td>{{ l.medidor }}</td>
              <td>
                <a href="{% url 'editar_leitura' l.id %}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                <a href="{% url 'excluir_leitura' l.id %}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/usuarios/" class="btn btn-light mt-3"><i class="fas fa-arrow-left"></i> Voltar para Usuários</a>
    </div>
  </div>
{% endblock %}
