<h2>Nova Fatura</h2>
<form method="POST">
  {% csrf_token %}
  Data de Emissão: <input type="date" name="data_emissao"><br>
  Valor (R$): <input type="number" step="0.01" name="valor"><br>
  Leitura:
  <select name="leitura">
    {% for l in leituras %}
      <option value="{{ l.id }}">{{ l.medidor.numero_serie }} - {{ l.data }}</option>
    {% endfor %}
  </select><br>
  Paga? <input type="checkbox" name="paga"><br>
  <button type="submit">Salvar</button>
</form>
<a href="{% url 'lista_faturas' %}">Voltar</a>
